<div class="center-content">
  <h1>Theme</h1>
  <br />
  <div class="cards">
    <!-- theme card one -->
    <div class="theme-card">
      <div class="card-color c-one">Theme 1</div>
    </div>
    <!-- theme card two -->
    <div class="theme-card">
      <div class="card-color c-two">Theme 2</div>
    </div>
    <!-- theme card three -->
    <div class="theme-card">
      <div class="card-color c-three">Theme 3</div>
    </div>
    <!-- theme card four -->
    <div class="theme-card">
      <div class="card-color c-four">Theme 4</div>
    </div>
    <!-- theme card five -->
    <div class="theme-card">
      <div class="card-color c-five">Theme 5</div>
    </div>
    <!-- theme card six -->
    <div class="theme-card">
      <div class="card-color c-six">Theme 6 (default)</div>
    </div>
  </div>
</div>
